body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .certificate {
    width: 794px; /* A4 size */
    height: 1123px;
    background-color: #fff;
    margin: 15px auto;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 50px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  
  .header img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    display: inline-block;
  }
  

  
  .footer {
    margin-top: 50px;
    display: flex;
    justify-content: end;
  }
  
  .signature{
    width: 300px;
  }
  
  .signature input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
  } 

  .school{
    display: block;
    text-align: center;
    line-height: 0;
  }

  section{
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .details {
    text-align: center;
    width: 50%;
    border: none;
    border-bottom: 1px solid;
  }

  .details2 {
    text-align: center;
    width: 35%;
    border: none;
    border-bottom: 1px dotted;
  }